:root {
    /* Color Variables */
    --clr-primary: #F47C7C;
    --clr-primary-hover: #EF9F9F;
    --clr-lightPink: #FAD4D4;
    --clr-skintone: #FFF2F2;
}

body {
    background-color: #FFF2F2;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

/* Navbar */